<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="RBY1_A_v1_2">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="robot_ip" default="127.0.0.1:50051" />
    <xacro:arg name="model" default="a" />
    <xacro:arg name="model_name" default="rby1a" />
    <xacro:arg name="model_version" default="1_2" />

    <!-- Import RBY1_A_v1_2 urdf file -->
    <xacro:include filename="$(find rby1_description)/urdf/rby1a/model_v1_2.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="RBY1_A_v1_2.ros2_control.xacro" />


    <xacro:RBY1_A_v1_2_ros2_control
        name="RBY1_A_v1_2_ros2_control"
        initial_positions_file="$(arg initial_positions_file)"
        use_fake_hardware="$(arg use_fake_hardware)"
        robot_ip="$(arg robot_ip)"
        model="$(arg model)"
    />

</robot>
