<?xml version="1.0"?>
<robot name="rby1ub" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    Top-level wrapper for the RBY1 upper-body (UB) platform.
    Single variant; vendored from rby1-sdk/models/rby1ub/urdf/model.urdf.
  -->
  <xacro:arg name="robot_ip" default="127.0.0.1:50051"/>
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="auto_reconnect" default="true"/>
  <xacro:arg name="read_timeout_sec" default="0.5"/>
  <xacro:arg name="connect_timeout_sec" default="3.0"/>

  <xacro:include filename="$(find rby1_description)/urdf/rby1ub/model.xacro"/>
  <xacro:include filename="$(find rby1_description)/urdf/rby1.ros2_control.xacro"/>

  <xacro:rby1ub_ros2_control
    robot_ip="$(arg robot_ip)"
    use_mock_hardware="$(arg use_mock_hardware)"
    auto_reconnect="$(arg auto_reconnect)"
    read_timeout_sec="$(arg read_timeout_sec)"
    connect_timeout_sec="$(arg connect_timeout_sec)"/>
</robot>
