<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rby1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="use_fake_hardware" default="true" />
    <xacro:arg name="robot_ip" default="127.0.0.1:50051" />
    <xacro:arg name="model" default="m" />
    <xacro:arg name="collision_check_enable" default="false" />
    <xacro:arg name="collision_threshold" default="0.01" />
    <xacro:arg name="model_name" default="rby1m" />
    <xacro:arg name="model_version" default="1_3" />

    <!-- Import rby1 urdf file -->
    <xacro:include filename="$(find rby1_description)/urdf/$(arg model_name)/model_v$(arg model_version).urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rby1.ros2_control.xacro" />


    <xacro:rby1_ros2_control
        name="RBY1System"
        initial_positions_file="$(arg initial_positions_file)"
        use_fake_hardware="$(arg use_fake_hardware)"
        robot_ip="$(arg robot_ip)"
        model="$(arg model)"
        collision_check_enable="$(arg collision_check_enable)"
        collision_threshold="$(arg collision_threshold)"
    />

</robot>
